<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
</head>
<body>
<header>
    <nav style="height: 75px;">
        <div class="nav-wrapper blue">
            <div class="container">
                <a href="#" class="brand-logo"  style="margin: 5px;">Logo</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down" style="margin: 5px;">
                    <li><a href="document.html">Sass</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<section >
    <div class="row">
        <div class="col s12 center" style="height: 35vh; background-color: #606060">
            <h1 style="color: #ffffff; font-weight: bold; font-style: italic; margin-top: 12vh">{{title}}</h1>
            <p style="color:#ffffff">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cum eaque, enim eum explicabo harum odit porro saepe ut? Accusantium aliquam consectetur eveniet expedita iste labore laudantium, possimus quidem ullam.</p>
        </div>
         <div class="col s12 center">

        </div>
    </div>
</section>

<section>

</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</body>
</html>